body
    margin: 0

    tr
        display: flex
        flex-wrap: wrap

    td
        color: white
        display: flex
        text-shadow: 0 0 5px #000000
        align-items: center
        justify-content: center
        width: 73px
        height: 73px
        user-select: none
        cursor: pointer
        transition: all 0.13s

        &:hover
            border-radius: 50%
            z-index: 100

        &:active
            border-radius: 0
